{
  "developer": [ //Array of developer IDs, has access to all commands on all servers
      "0123",
      "0123"
  ],
  "global_override": "0123", //Role ID of the Global Permissions role on the main_guild, gives access to usage of non-developer commands globally
  "main_guild": "0123", //Server ID of the main guild used for logging and the Global Permissions role
  "prefix": "./", //Default prefix
  "colors": {
    "default": "#7289da",
    "red": "#e74c3c",
    "green": "#2ecc71",
    "blue": "#3498db",
    "gray": "#979c9f",
    "orange": "#e67e22",
    "yellow": "#f1c40f",
    "gold": "#FFD700"
  },
  "release": "special",
  "logs": { //Log channels in the main guild
    "commands": "614433607078903818", //Command Logs
    "core": "614433641266937884", //Startup Logs
    "guild": "614433722707738634" //Bot Added/Removed Logs
  },
  "emoji": { //Default success and failure emotes
    "x": "suggester_x:614554969198166027",
    "mid": "suggester_mid:666626829968343051",
    "check": "suggester_check:614554968812421160"
  },
  "log_hooks": { //Webhooks in the logging channels
    "commands": {
      "id": "000",
      "token": "abcd123"
    },
    "core": {
      "id": "000",
      "token": "abcd123"
    },
    "guild": {
      "id": "000",
      "token": "abcd123"
    },
    "debug": {
      "id": "000",
      "token": "abcd123"
    }
  }
}